.App {
  flex: auto;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.websiteBanner {
  display: flex;
  font-size: 30px;
  margin: 0;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-left: auto;
  margin-right: 5%;
}

.buttonContainer button {
  font-size: 15px;
  padding: 5px 10px;
  background-color: #1a661a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonContainer button:hover {
  background-color: #0056b3;
}

.coffeeLogo{
  width: 400px;     
  height: auto;      
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
